Flask==0.10.1
Flask-OAuthlib==0.5.0
Flask-OpenID==1.2.1
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Jinja2==2.7.2
MarkupSafe==0.19
Pillow==2.4.0
SQLAlchemy==0.9.4
Werkzeug==0.9.4
argparse==1.2.1
itsdangerous==0.24
oauthlib==0.6.3
psycopg2==2.7
python-openid==2.2.5
requests==2.2.1
simplejson==3.4.0
