Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.19
Pillow==2.4.0
SQLAlchemy==0.9.4
Werkzeug==0.9.4
itsdangerous==0.24
psycopg2==2.5.2
requests==2.2.1
simplejson==3.4.0
uWSGI==2.0.3
wsgiref==0.1.2
