{% extends "base.html" %}
{% block content %}
<div class="col-md-8 col-md-offset-2" style="padding-bottom:50px; padding-top:100px">
    <div id="mapdiv">
        <!--TODO: this isn't a map, let's create another class, eh?-->
        <div class="map">
            <div class="thumbnail">
                <p>Oops, something went wrong :/  If you can repeat this, please open a bug at <a href="http://github.com/steppin/some_bot/issues">github</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
