<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %} {% endblock %} - SomeBot!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">

        </style>

    </head>
	<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/" class="navbar-brand">SomeBot's Brain!</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                <li><a href="#">{{ g.email }}</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
                <li><form class="navbar-form navbar-right" type="submit" onSubmit="$(this).attr('action', '/search?query='+$('#search').val());" role="search" id="searchform">
                    <input type="text" class="form-control" placeholder="Search" id="search">
                     </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" >
        <!--TODO: move styling to css...-->
        <div class="col-md-8 col-md-offset-2" style="padding-bottom:50px; padding-top:100px">
            <div class="row">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <ul class="nav navbar-nav navbar-left">
                            {% set navigation_bar = [
                                ('/', 'index', 'Recent'),
                                ('/s/inrotation', 'inrotation', 'Current Rotation'),
                                ('/s/retired', 'retired', 'Retired Maps'),
                            ] -%}
                            {% set active_page = active_page|default('index') -%}
                            {% for href, id, caption in navigation_bar %}
                                <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                            {% endfor %}
                        </ul>


                    </div>
                </nav>
            </div>

            <div id="mapdiv">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

        <div class="col-md-2" style="padding-top:300px">
            <div class="thumbnail">
                <h3>Test your map</h3>
                <div style="text-align:left">

                    <form id="mapupload" action="/upload" method="post" multiple style='height:200px'>
                        Drop a .json and a .png file here to test your map.
                        Click to navigate for files.
                    </form>
                      <div class="checkbox">
                        <label><input type="checkbox" id="autotest">Autotest uploaded maps</label>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-content">
                <img src="{{ url_for('static', filename='images/poweredby.png') }}" />
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>

        <script>
            Dropzone.options.mapupload = {
              paramName: "file", // The name that will be used to transfer the file
              maxFilesize: 0.5, // MB
              uploadMultiple: true,
              maxFiles: 2,
              autoProcessQueue: false,
              acceptedFiles: "image/png,.json",
            };

            var mapupload = new Dropzone("#mapupload");

            mapupload.on("successmultiple", function(files, data) {
                if(data.success) {
                    console.log(data);
                    if($('#autotest')[0].checked) {
                        window.location.replace(data.testurl);
                    }
                    else {
                        window.location.replace(data.saveurl);
                    }
                }
            });

            // When two files are in the queue, start uploading
            mapupload.on("maxfilesreached", function(file) {
                mapupload.processQueue();
            });

    </script>
    <script>
            // Search function

            // Handle search form submission
            // Write window URL on form submission so searches can be shared
            $("#searchform").submit( function(event) {
                query = $("#search").val();
                clearTimeout(lastTimeout);
                window.location.replace(window.location.origin+"/search?query="+query);
                return false;
            });


            // Handle instant search results
            // Delay is set to 500 milliseconds between keypresses
            // Standalone set to true so entire page doesn't reload
            requestDelay = 500;
            lastTimeout = false;
            $('body').delegate('#search', 'keyup', function() {
                query = $("#search").val();
                if(true) {
                    if(lastTimeout) {
                        clearTimeout(lastTimeout);
                    }
                    lastTimeout = setTimeout( function () {
                            $.ajax({
                                url:"/search",
                                data:{"query":query, "standalone":true}
                            }).done(function(data) {
                                if(data.success) {
                                    $("#mapdiv").html(data.html);
                                }
                            });
                            lastTimeout = false;
                        }, requestDelay);

                }
            });
        </script>


	</body>
</html>
