{% extends 'base.html' %}
{% block content %}

  {% for name, path in filepaths %}
    <div id="{{ name }}" url="url('{{ path }}')" hidden></div>
  {% endfor %}
  
    <title>TagPro Map Editor</title>
    <script src="{{ url_for('static', filename='tagpro-map-editor/generatepng.js') }}"></script>
    <script src="{{ url_for('static', filename='tagpro-map-editor/webtoolkit.base64.js') }}"></script>
    <script src="{{ url_for('static', filename='tagpro-map-editor/jquery-ui-1.10.4.custom.min.js') }}"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tagpro-map-editor/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tagpro-map-editor/css/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}">
<div style="position:fixed;left:0;top:51px;bottom:0;width:320px;overflow-y:scroll;overflow-x:hidden;padding-top:10px;">
    <div class="form-group">
      <div class="btn-group btn-group-justified">
        <div>
          <button class="btn btn-default btn-block" data-target="#instructions" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span> Instructions</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button id='clear' class='btn btn-default' title="Clear map"><span class="glyphicon glyphicon-remove"></span> Clear</button>
        </div>
        <div class="btn-group">
          <button id='save' class='btn btn-default' title="Save map to cache"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        </div>
        <div class="btn-group" style="">
          <button class='btn btn-default' id="test" title="Test map" style="border-top-right-radius:4px;border-bottom-right-radius:4px;" data-toggle="dropdown"><span class="glyphicon glyphicon-play"></span>Test</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <div id="undoRedo" class="btn-group btn-group-justified" role="toolbar">
            <a id="undo" class="btn btn-default" title="Undo"><span class="glyphicon glyphicon-flipped glyphicon-share-alt"></span></a>
            <a id="redo" class="btn btn-default" title="Redo"><span class="glyphicon glyphicon-share-alt"></span></a>
          </div>
        </div>

        <div class="col-xs-4">
          <div id="zoom" class="btn-group btn-group-justified" role="toolbar">
            <a id="zoomOut" class="btn btn-default" title="Zoom out"><span class="glyphicon glyphicon-zoom-out"></span></a>
            <a id="zoomIn" class="btn btn-default" title="Zoom in"><span class="glyphicon glyphicon-zoom-in"></span></a>
          </div>
        </div>

        <div class="col-xs-4">
          <button class="btn btn-default btn-block" title="Save map" data-target="#importExport" data-toggle="modal">
            <span class="glyphicon glyphicon-save"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Map Size:</span>
        <input type="number" class="form-control" placeholder="Width" id="resizeWidth">
        <span class="input-group-addon">by</span>
        <input type="number" class="form-control" placeholder="Height" id="resizeHeight">
        <span class="input-group-btn">
          <button id="resize" class="btn btn-default" title="Resize the map to the entered dimensions.">
            <span class="glyphicon glyphicon-resize-full"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <div id="rotate" class="btn-group btn-group-justified" role="toolbar">
            <a id="rotateLeft" class="btn btn-default" title="Rotate Left"><span class="glyphicon glyphicon-flipped glyphicon-retweet"></span></a>
            <a id="rotateRight" class="btn btn-default" title="Rotate Right"><span class="glyphicon glyphicon-retweet"></span></a>
          </div>
        </div>

        <div class="col-xs-4">
          <div id="flip" class="btn-group btn-group-justified" role="toolbar">
            <a id="flipVertical" class="btn btn-default" title="Flip Vertical"><span class="glyphicon glyphicon-sort"></span></a>
            <a id="flipHorizontal" class="btn btn-default" title="Flip Horizontal"><span class="glyphicon glyphicon-rotate-right glyphicon-sort"></span></a>
          </div>
        </div>

        <div class="col-xs-4">
          <div id="mirrorMap" class="btn-group btn-group-justified" role="toolbar">
            <a id="mirror" class="btn btn-default" title="Mirror Map"><span class="glyphicon glyphicon-rotate-right glyphicon-sound-stereo"></span> / <span class="glyphicon glyphicon-sound-stereo"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
      <div id="tools" role="toolbar">
        <div class="btn-group btn-group-justified">
          <a id="toolPencil" class="btn btn-default btn-sm" title="Pencil - paint a single pixel."><span class="glyphicon glyphicon-pencil off-center"></span></a>

          <a id="toolBrush" class="btn btn-default btn-sm" title="Brush - paint a 3x3 area."><span class="glyphicon glyphicon-th-large off-center"></span></a>

          <a id="toolLine" class="btn btn-default btn-sm" title="Line - click and drag to draw a line."><span class="glyphicon glyphicon-minus off-center"></span></a>

          <a id="toolRectFill" class="btn btn-default btn-sm" title="Filled rectangle - draw a filled rectangle"><span class="glyphicon glyphicon-stop off-center"></span></a>

          <a id="toolRectOutline" class="btn btn-default btn-sm" title="Outlined rectange - draw an outlined rectangle"><span class="glyphicon glyphicon-unchecked off-center"></span></a>

          <a id="toolCircleFill" class="btn btn-default btn-sm" title="Filled circle - draw a filled circle"><span class="glyphicon glyphicon-record off-center"></span></a>

          <a id="toolCircleOutline" class="btn btn-default btn-sm" title="Outlined circle - draw an outlined circle"><span class="glyphicon glyphicon-remove-circle off-center"></span></a>

          <a id="toolFill" class="btn btn-default btn-sm" title="Fill - fill an entire area"><span class="glyphicon glyphicon-tint off-center"></span></a>

          <a id="toolWire" class="btn btn-default btn-sm" title="Wire - select an emitter (buttons, portals) and then click on the receiver(s) (gates, bombs, portals) to complete the link"><span class="glyphicon glyphicon-wrench off-center"></span></a>
          
          <a id="toolClipboard" class="btn btn-default btn-sm" title="Copy and Paste - select an area to duplicate, then paste it elsewhere in its entirety"><span class="glyphicon glyphicon-folder-close off-center"></span></a>
        </div>
      </div>
    </div>

    <div class="form-group">
      <select id="symmetry" class="form-control">
        <option selected>No Symmetry</option>
        <option value="Horizontal">Horizontal Symmetry</option>
        <option value="Vertical">Vertical Symmetry</option>
        <option value="4-Way">4-Way Symmetry</option>
        <option value="Rotational">Rotational Symmetry</option>
      </select>
    </div>

    <div id="palette">
    </div>
  
    <p>Forked from <a href="https://github.com/PeterReid/tagpro-map-editor">PeterReid</a></p>
    <p><a href="https://github.com/steppin/tagpro-map-editor">Source</a></p>

    </div>

  <div style='position:fixed;top:51px;bottom:0;right:0;left:325px;overflow: scroll;white-space: nowrap;' id='map'>
  </div>

  <canvas width="200" height="200" id='importCanvas' style='display:none'></canvas>

  <div class="modal fade" id="importExport" tabindex="-1" role="dialog" aria-labelledby="importExportLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="importExportLabel">Import/Export Map</h4>
        </div>

        <div class="modal-body">
          <p>To import a map, drag and drop its .png and .json files into their respective areas and then click Import.</p>
          <p>To export a map, click Export and then click the PNG and JSON buttons to download the files.</p>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <a class="dropArea" draggable="true" id="pngDrop" download="map.png" href="#">PNG</a>
              </div>
              <div class="col-xs-6">
                <a class="dropArea" draggable="true" id="jsonDrop" download="map.json" href="#">JSON</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="btn-group btn-group-justified">
              <a id="import" class="btn btn-default" title="Import map"><span class="glyphicon glyphicon-import"></span> Import</a>
              <a id="export" class="btn btn-default" title="Export map"><span class="glyphicon glyphicon-export"></span> Export</a>
            </div>
          </div>
          <div class="form-group">
            <label for="gameMode">Game Mode</label>
            <label class="radioLabel">
              <input type="radio" name="gameMode" class="form-control" id="normalMode" value="normal" checked /><span class="radioSpan">Normal</span>
            </label>
            <label class="radioLabel">
              <input type="radio" name="gameMode" class="form-control" id="gravityMode" value="gravity"><span class="radioSpan">Gravity</span>
            </label>
            <label class="radioLabel">
              <input type="radio" name="gameMode" class="form-control" id="gravityCTFMode" value="gravityCTF"><span class="radioSpan">GravityCTF</spawn>
            </label>
          </div>
          <div class="form-group">
            <label for="mapName">Map Name</label>
            <input type="text" class="form-control" id="mapName" placeholder="Untitled">
          </div>
          <div class="form-group">
            <label for="author">Author Name</label>
            <input type="text" class="form-control" id="author" placeholder="{{ username }}">
          </div>
        </div>
        <div class="modal-footer">
          {% if user.id > 0 %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Edit your maps <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              {% for map in user.recent_maps(10) %}
                  <li><a href="#" class='editmap' mapid="{{map.id}}">{{map.mapname}} - v{{map.version}} </a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          <button type="button" id="saveToJJ" class="btn btn-primary btn-success">Save to JJ</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="closeModal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:300px">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Loading your map...</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 750px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="instructionsLabel">Instructions</h4>
        </div>
        <div class="modal-body">
          <p>Select a tile type from the palette on the left to draw it on the map. You can click and drag on the map to for faster drawing. Different tools are available for drawing multiple tiles at once including a line and square shape tool. Mouseover the buttons below to see additional information about each tool. Furthermore, mirrored tiles can be drawn across multiple planes of symmetry from the drop-down menu.</p>
          <div class="form-group">
            <div role="toolbar">
              <div class="col-lg-9" style="margin-left: 12.5%;">
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-default btn-sm" title="Pencil - paint a single pixel."><span class="glyphicon glyphicon-pencil"></span></a>
                  <a class="btn btn-default btn-sm" title="Brush - paint a 3x3 area."><span class="glyphicon glyphicon-th-large"></span></a>
                  <a class="btn btn-default btn-sm" title="Line - click and drag to draw a line."><span class="glyphicon glyphicon-minus"></span></a>
                  <a class="btn btn-default btn-sm" title="Filled rectangle - draw a filled rectangle"><span class="glyphicon glyphicon-stop"></span></a>
                  <a class="btn btn-default btn-sm" title="Outlined rectange - draw an outlined rectangle"><span class="glyphicon glyphicon-unchecked"></span></a>
                  <a class="btn btn-default btn-sm" title="Filled circle - draw a filled circle"><span class="glyphicon glyphicon-record"></span></a>
                  <a class="btn btn-default btn-sm" title="Outlined circle - draw an outlined circle"><span class="glyphicon glyphicon-remove-circle"></span></a>
                  <a class="btn btn-default btn-sm" title="Fill - fill an entire area"><span class="glyphicon glyphicon-tint"></span></a>
                  <a class="btn btn-default btn-sm" title="Wire - select an emitter (buttons, portals) and then click on the receiver(s) (gates, bombs, portals) to complete the link"><span class="glyphicon glyphicon-wrench"></span></a>
                  <a class="btn btn-default btn-sm" title="Copy and Paste - select an area to duplicate, then paste it elsewhere in its entirety"><span class="glyphicon glyphicon-folder-close"></span></a>
                </div>
              </div>
            </div>
          </div><br><br>
          <p>Portals and buttons can link to other map elements. To create a link, select the wire tool (wrench icon) and select the entry portal or button. Then select the exit portal or the bomb and gate elements to be activated by the button.</p>
          <p>Parts of a map can duplicated with the copy and paste tool. Drag to select an area to duplicate, then paste a duplicate of the area elsewhere on the map. All tile settings such as spawn radius, portal cooldown, and button activations will be copied as well.</p>
          <p>Spawn points and mars balls are placed on top of other map elements. Spawn points can only be placed on floor tiles or team tiles, but mars balls can be placed on top of any other tile type.</p>
          <p>Additionally, portals, buttons, and spawn points have extra settings. To modify a portals's cooldown time, a button's timer, or a spawn point's radius and weight, shift+click the map tile. You can modify all extra settings of a tile type at once by shift+clicking the map element in the palette. The default portal cooldown and button timer is 0 seconds and the default spawn radius and weight is 5 tiles and 1, respectively.</p>
          <p>Lastly, you can resize, rotate, flip, and mirror your map at any point. You can also undo/redo changes or quickly switch between tile types. You can undo/redo by either pressing the undo/redo buttons or pressing z to undo and y to redo and you can quickly change the selected tile type by ctrl+clicking an existing map element.</p>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-3">
                <div class="btn-group btn-group-justified" role="toolbar">
                  <a class="btn btn-default" title="Undo"><span class="glyphicon glyphicon-flipped glyphicon-share-alt"></span></a>
                  <a class="btn btn-default" title="Redo"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
              </div>
              
              <div class="col-xs-3">
                <div class="btn-group btn-group-justified" role="toolbar">
                  <a class="btn btn-default" title="Rotate Left"><span class="glyphicon glyphicon-flipped glyphicon-retweet"></span></a>
                  <a class="btn btn-default" title="Rotate Right"><span class="glyphicon glyphicon-retweet"></span></a>
                </div>
              </div>

              <div class="col-xs-3">
                <div class="btn-group btn-group-justified" role="toolbar">
                  <a class="btn btn-default" title="Flip Vertical"><span class="glyphicon glyphicon-sort"></span></a>
                  <a class="btn btn-default" title="Flip Horizontal"><span class="glyphicon glyphicon-rotate-right glyphicon-sort"></span></a>
                </div>
              </div>

              <div class="col-xs-3">
                <div class="btn-group btn-group-justified" role="toolbar">
                  <a class="btn btn-default" title="Mirror Map"><span class="glyphicon glyphicon-rotate-right glyphicon-sound-stereo"></span> / <span class="glyphicon glyphicon-sound-stereo"></span></a>
                </div>
              </div>
            </div>
          </div>
          <p>Happy map making!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="resizeDialog" title="Resize" style='display:none'>
    <table>
      <tr>
        <td></td>
        <td style='text-align:center'>
          <!--<input type='checkbox' id='resizeAnchorTop'/>!-->
          <a id="resizeAnchorTop" class="btn btn-xs btn-default" title="Extend Left"><span class="glyphicon glyphicon-arrow-up"></span></a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <!--<input type='checkbox' id='resizeAnchorLeft'/>!-->
          <a id="resizeAnchorLeft" class="btn btn-xs btn-default" title="Extend Left"><span class="glyphicon glyphicon-arrow-left"></span></a>
	</td>
        <td style='text-align:center'>
          
        </td>
        <td>
          <!--<input type='checkbox' id='resizeAnchorRight'/>!-->
          <a id="resizeAnchorRight" class="btn btn-xs btn-default" title="Extend Left"><span class="glyphicon glyphicon-arrow-right"></span></a>
	</td>
      </tr>
      <tr>
        <td></td>
        <td style='text-align:center'>
          <!--<input type='checkbox' id='resizeAnchorBottom'/>!-->
          <a id="resizeAnchorBottom" class="btn btn-xs btn-default" title="Extend Left"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </td>
        <td></td>
      </tr>
    </table><br>
    <div>
      Width: <input type='text' id='resizeWidthTo' style='width:4em' /> Height: <input type='text' id='resizeHeightTo' style='width:4em' />
    </div>
  </div>

  <div id="spawnOptions" title="Spawn Point" style='display:none'>
    <div>
      Spawn Radius: <input type='text' id='spawnRadius' style='width:4em' />
    </div><br>
    <div>
      Spawn Weight: <input type='text' id='spawnWeight' style='width:4em' />
    </div><br>
    <div id="spawnAll">
      <label class="radioLabel" style="width: auto">
        <input type='radio' name="spawnType" value="all" checked/>  Change all spawn points<br>
      </label>
      <label class="radioLabel" style="width: auto">
        <input type='radio' name="spawnType" value="default"/>  Change only unmodified spawn points
      </label>
    </div>
  </div>
  
  <div id="portalOptions" title="Portal" style='display:none'>
    <div>
      Cooldown: <input type='text' id='portalCooldown' style='width:4em' />
    </div><br>
    <div id="portalAll">
      <label class="radioLabel" style="width: auto">
        <input type='radio' name="portalType" value="all" checked/>  Change all portals<br>
      </label>
      <label class="radioLabel" style="width: auto">
        <input type='radio' name="portalType" value="default"/>  Change only unmodified portals
      </label>
    </div>
  </div>
  
  <div id="switchOptions" title="Button" style='display:none'>
    <div>
      Timer: <input type='text' id='switchTimer' style='width:4em' />
    </div><br>
    <div id="switchAll">
      <label class="radioLabel" style="width: auto">
        <input type='radio' name="switchType" value="all" checked/>  Change all buttons<br>
      </label>
      <label class="radioLabel" style="width: auto">
        <input type='radio' name="switchType" value="default"/>  Change only unmodified buttons
      </label>
    </div>
  </div>
  
  <div id="mirrorOptions" title="Mirror Map" style='display:none'>
    <table>
      <tr>
        <td></td>
        <td style='text-align:center'>
          <a id="mirrorAnchorTop" class="btn btn-xs btn-default" title="Mirror Up" value="[0,-1]"><span class="glyphicon glyphicon-arrow-up"></span></a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a id="mirrorAnchorLeft" class="btn btn-xs btn-default" title="Mirror Left" value="[-1,0]"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </td>
        <td style='text-align:center'>
          
        </td>
        <td>
          <a id="mirrorAnchorRight" class="btn btn-xs btn-default" title="Mirror Right" value="[-2,0]"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style='text-align:center'>
          <a id="mirrorAnchorBottom" class="btn btn-xs btn-default" title="Mirror Down" value="[0,-2]"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </td>
        <td></td>
      </tr>
    </table>
  </div>

  {% if remix %}
  <div id="remix" mapid="{{mapid}}"hidden></div>
  {% endif %}


  <script>
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='tagpro-map-editor/map.js') }}"></script>

{% endblock %}
