{% if not standalone %}{% extends 'base.html' %}{% endif -%}

{% block content %}
{# ugh need to get rid of all this standalone branching. #}
{% if not standalone %}
    <div class="col-md-9 col-md-offset-1" style="padding-bottom:50px; padding-top:100px">
{% endif -%}
    <div id="mapdiv">
        <div class="row maprow">
        {% for map in maps %}
            <div class="col-lg-4 col-md-6 map" id="{{ map.mapid }}">
                <div class="thumbnail">
                    <h2 class="mapname one-line"><a href="{{ map.mapurl }}" class="searchable">{{ map.mapname }}</a></h2>
                    <a class="img_helper" href="{{ map.mapurl }}" title="Uploaded: {{ map.uploaddate }}"><img class="img_vertical" src="{{ map.thumburl }}"></a>
                     <div class="caption">
                        <h3 class="one-line">by: <a href="{{ map.authorurl }}" class='searchable' style="word-wrap:break-word;">{{ map.author }}</a></h3>
                        <div class="buttongroup">
                            {% include 'testselect.html' %}
                            <a href="{{ map.previewurl }}" class="btn btn-danger">Fullsize Preview</a>
                        </div>
                    </div>
                </div>
             </div>
        {% endfor %}
{% if not standalone %}
        </div>
{% endif -%}


{% macro paginator(page, pages) -%}
<div class="row">
    <div class="text-center">
        <ul class="pagination">
          <li><a href="{{ url_for_other_page(current_page-1) }}">&laquo;</a></li>
            {% for page in pages %}
                {% if page == current_page %}
                    <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
          <li><a href="{{ url_for_other_page(current_page+1) }}">&raquo;</a></li>
        </ul>
    </div>
</div>
{%- endmacro %}

{% if paginate %}
    {{ paginator(page, pages) }}
{% endif -%}
</div>
</div>
{% if not standalone %}
            <div class="col-md-2" style="padding-top: 200px">
                <div class="thumbnail">
                    <h3>Test your map</h3>
                    <div style="text-align:left">

                        <form class="dropzone square" id="mapupload" action="/upload" method="post" multiple>
                            <div class="dz-message">
                                Drop a .json and a .png file here to test your map.
                                Click to navigate for files.
                            </div>
                        </form>
                          <div class="checkbox">
                            <label><input type="checkbox" id="autotest">Autotest uploaded maps</label>
                        </div>
                    </div>
                </div>
            </div>

        <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>

        <script>
            Dropzone.autoDiscover = false;
            Dropzone.options.mapupload = {
              paramName: "file", // The name that will be used to transfer the file
              maxFilesize: 0.5, // MB
              uploadMultiple: true,
              maxFiles: 2,
              autoProcessQueue: false,
              acceptedFiles: "image/png,.json",
              addRemoveLinks: true,
              init: function() {
                this.on("successmultiple", function(files, data) {
                    if (data.success) {
                        if($('#autotest')[0].checked) {
                            window.location.replace(data.testurl);
                        }
                        else {
                            window.location.replace(data.saveurl);
                        }
                    }

                });

                // When two files are in the queue, start uploading
                this.on("maxfilesreached", function(file) {
                    this.processQueue();
                });
              }
            };
            var mapupload = new Dropzone("#mapupload");
    </script>
{% endif -%}
{% endblock %}
{% block content_scripts %}
    {% include 'testselectscripts.html' %}
{% endblock %}
