{% extends "base.html" %}

{% block content_scripts %}
    {% include 'testselectscripts.html' %}
{% endblock %}


{% block content %}
<div class="col-md-8 col-md-offset-2" style="padding-bottom:50px; padding-top:100px">
<div id="mapdiv">
    <div class="map" id="{{ map.mapid }}">
        <div class="thumbnail">
            {% if user.id == map.userid %}
                <div class="pull-left">
                     <a href="/delete/{{map.mapid}}"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            {% endif %}
                <div class="pull-right">
                {% if user %}
                    <a class="vote " mapid='{{map.mapid}}' userid='{{ user.id }}'><span class="glyphicon glyphicon-chevron-up {{ has_voted( map.mapid, user.id) }}"></span></a>
                {% endif %}
                    <span class="map_votes">{{ map.votes }}</span>
                </div>



            <h2 class='searchable'>{{ map.mapname }}</h2>
            <div class="row-fluid">
            <img onclick="document.location.href = '{{ map.previewurl }}'" src="{{ map.previewurl }}" style="max-height:500px;">
            </div>
             <div class="caption">
                <h3>by: <a href="{{ map.authorurl }}" class='searchable'>{{ map.author }}</a></h3>
                <p class='searchable'>{{ map.description }}</p>
                <div class="buttongroup">
                    {% include 'testselect.html' %}
                    <a href="{{ map.previewurl }}" class="btn btn-primary">Fullsize Preview</a>
                    <a href="{{ map.pngdownload }}" download="{{ map.mapname }}" class="btn btn-primary">Download png</a>
                    <a href="{{ map.jsondownload }}" download="{{ map.mapname }}" class="btn btn-primary">Download json</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="comments" class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <form id="add_comment">
                <div class="input-group">
                    <input type="text" class="form-control" id="text" placeholder="Leave a comment">
                    <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">Send</button>
                    </span>
                </div>
            </form>
        </div>
        <ul class="list-group" id="commentLog" style="height: 250px; overflow: scroll;overflow-x: hidden;">
            {% for comment in comments %}
                <li class="list-group-item" style="word-break: break-all;">{{comment.time|timesince}}&nbsp;<b>{{ comment.username }}</b> - {{comment.text}}</li>
            {% endfor %}
        </ul>
    </div>

</div>

<script>
$(document).ready(function() {
    $('#add_comment').submit( function(event) {
        event.preventDefault();
        $.ajax({
            url:"/comment",
            data:{"text":$("#text").val(), "userid":'{{ userid }}', "mapid":'{{ map.mapid }}'}
        }).done(function(data) {
            $("#text").val('');
            $("li.list-group-item").remove();
            console.log(comments);
            $("ul.list-group").append(data['comments']);
        });
    });
});
</script>
    <script>
    $(".vote").click(function(event) {
        event.preventDefault();
        element = $(this);
        $.ajax({
            url:"/vote",
            data:{"userid":$(this).attr("userid"), "mapid":$(this).attr("mapid")}
        }).done(function(data) {
            if(data.vote_status == true) {
                element.children().addClass('voted');
                new_count = parseInt(element.siblings().text())+1;
                element.siblings(".map_votes").text(new_count);
            }
            else {
                element.children().removeClass('voted');
                new_count = parseInt(element.siblings().text())-1;
                element.siblings(".map_votes").text(new_count);

            }
        });
    });
    </script>
{% endblock %}
