{% if not standalone %}{% extends 'base.html' %}{% endif -%}

{% block content %}
        {% for map in maps %}
        {% if loop.index0%3 == 0 %}
            <div class="row maprow">
        {% endif %}
            <div class="col-lg-4 col-md-6 map" id="{{ map.mapid }}">
                <div class="thumbnail">
                    <h2 ><a href="{{ map.mapurl }}" class="searchable" style="word-wrap:break-word; text-align:left">{{ map.mapname }}</a></h2>
                    <a class="img_helper" href="{{ map.mapurl }}"><img class="img_vertical" src="{{ map.thumburl }}"></a>
                     <div class="caption">
                        <h3>by: <a href="{{ map.authorurl }}" class='searchable' style="word-wrap:break-word;">{{ map.author }}</a></h3>
                        <p>Uploaded: {{ map.uploaddate }}</p>
                        <div class="buttongroup">
                            <a href="{{url_for('test_map', mapid=map.mapid, zone='us')}}" target="_blank" class="btn btn-primary">Test (US)</a>
                            <a href="{{url_for('test_map', mapid=map.mapid, zone='eu')}}" target="_blank" class="btn btn-primary">Test (EU)</a>
                            <a href="{{ map.previewurl }}" class="btn btn-danger">Fullsize Preview</a>
                        </div>
                    </div>
                </div>
             </div>
         {% if loop.index0%3 == 2  or loop.last %}
        </div>
        {% endif %}
        {% endfor %}


{% macro paginator(page, pages) -%}
<div class="text-center">
    <ul class="pagination">
      <li><a href="/?page={{ current_page-1 }}">&laquo;</a></li>
        {% for page in pages %}
            {% if page == current_page %}
                <li class="active"><a href="/?page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="disabled"><a href="/?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
      <li><a href="/?page={{ current_page+1 }}">&raquo;</a></li>
    </ul>
    </div>
{%- endmacro %}

{% if paginate %}
    {{ paginator(page, pages) }}
{% endif -%}

{% endblock %}


