html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #444;
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  text-align: center;
}
.thumbnail {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: center;
  background-color: #efefef;
  vertical-align: top;
}
.btn-default {
  background-color: #efefef;
}
.thumbnail .overview {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
.buttongroup {
  text-align: center;
  padding-top: 5px;
}
.caption {
  text-align: left;
}
.center {
  margin: 0 auto;
  float: none;
}
p {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-indent: 3em;
}
h3, h2 {
  border-bottom: 1px solid #dedede;
  text-align: center;
}
.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*TODO: should probably just build from less :/*/
/*bootstrap does not style dropdowns inverted in the navbar*/
.inverse-dropdown {
    background-color: #222;
    border-color: #080808;
}
.inverse-dropdown>li>a {
    color: #999;
}
.inverse-dropdown>li>a:hover {
      color: #fff;
      background-color: #000;
}
.inverse-dropdown>li>a:hover>.divider {
    background-color: #000;
}



.map .hide-til-hover {
    display: none;
}
.map:hover .hide-til-hover {
    display: inline;
}

.voted {
  color:#d43f3a;
}
.newcomment {
  color:#d43f3a;
}