{% if not standalone %}{% extends 'base.html' %}{% endif -%}

{% block content %}
        {% for map in maps %}
        {% if loop.index0%3 == 0 %}
            <div class="row maprow">
        {% endif %}
            <div class="col-lg-4 col-md-6 map" id="{{ map.mapid }}">
                <div class="thumbnail">
                    <h2><a href="/m/{{ map.author }}/{{ map.mapname }}" class="searchable" style="word-wrap:break-word;">{{ map.mapname }}</a></h2>
                    <a class="img_helper" href="/show?mapid={{ map.mapid }}"><img class="img_vertical" src="/static/thumbs/{{ map.mapid }}.png"></a>
                     <div class="caption">
                                                <h3>by: <a href="/?author={{ map.author }}" class='searchable' style="word-wrap:break-word;">{{ map.author }}</a></h3>
                        <div class="buttongroup">
                            <a href="#" class="btn btn-primary testmap" role="button" mapid="{{ map.mapid }}">Test map</a>
                            <a href="/static/previews/{{ map.mapid }}.png" class="btn btn-primary">Fullsize Preview</a>
                        </div>
                    </div>
                </div>
             </div>
         {% if loop.index0%3 == 2  or loop.last %}
        </div>
        {% endif %}
        {% endfor %}



{% endblock %}